.AddAddress {
    display: block;
}

.formWrapper {
    display: none;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
}

.display {
    display: block;
}

.btnWrapper {
    margin-top: 15px;
}

.cancelBtn {
    margin-left: 10px;
    background-color: var(--secondary-color);
}

.addAddressBtn {
    display: none;
    margin-top: 10px;
}

.displayBtn {
    display: block;
}
