.title {
    display: block;
    font: var(--font-xl);
    margin-bottom: 20px;
}

.msg {
    display: block;
    width: 300px;
    margin: 0 auto;
    font: var(--font-xxl);
    color: var(--secondary-color);
}

.error {
    color: var(--red-light);
}
