.Button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.primary {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
}

.danger {
    color: var(--inverted-primary-color);
    background-color: var(--red-dark);
}

.disabled {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
    cursor: not-allowed;
}
