.Navbar {
    width: 100%;
    position: sticky;
    top: 0;
    max-width: 1472px;
    margin: 0 auto;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
}

.title {
    color: var(--inverted-bg-color);
    font: var(--font-l);
}

.linksWrapper {
    margin-left: auto;
}

.link {
    margin-right: 10px;
}

.link:last-child {
    margin-right: 0;
}

.active {
    color: var(--inverted-bg-color);
}
