.OrderListItem {
    width: 1000px;
    box-shadow: var(--shadow);
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--font-l);
    font-weight: 600;
    background: var(--card-bg);
    padding: 20px;
}

.body {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 20px;
}

.productsImgList {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.productsImgItem {
    width: 84px;
    height: 84px;
    margin-right: 10px;
}

.headerText {
    font-weight: normal;
}

.takeOrderWrapper {
    margin-right: 100px;
}

.takeOrderBtn {
    background: var(--inverted-bg-color);
    color: var(--bg-color);
}
