.AuthForm {
    width: 600px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font: var(--font-xl);
    margin-bottom: 20px;
}

.input {
    margin-bottom: 10px;
}

.changeForm {
    opacity: 0.9;
    color: var(--inverted-bg-color);
}

.error {
    color: var(--red-light);
    text-align: center;
}
