.ProfileCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pageTitle {
    text-align: center;
    font: var(--font-xl);
}

.header {
    display: flex;
    flex-direction: column;
    font: var(--font-l);
}

.name {
    font: bold var(--font-xl);
}

.line {
    width: 100%;
    border-bottom: 1px solid var(--inverted-bg-color);
}

.title {
    font: var(--font-xl);
    margin-bottom: 10px;
}

.address {
    flex-wrap: wrap;
    display: flex;

    margin-bottom: 20px;
    font: var(--font-l);
}

.addressItem {
    width: 400px;
}

.addressItemNumber {
    width: 120px;
}

.addAddress {
    margin-top: 20px;
}
